body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d31b43;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1a8882;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(189, 85, 171, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #000000;
   
    line-height: 2.0;
}



